<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <div class="container">
    <div class="row">
        <div class="col mt-5 col-xs-6 col-md-6 col-lg-6">
          <h2>Enter your password to check the strength</h2>
          <br>
        <form>
          <div class="form-group">
            <input type="text" #value1 class="form-control" autocomplete="off" placeholder="Password" (keyup.shift)="checkPassword(value1.value)">
          </div>
        </form>
      <button type="button" routerLink="" class="btn btn-light">Back</button>
    
      </div>
    </div>
  </div>