<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2>Enter Your Details to build to strong password!!!</h2>
<form [formGroup]="form" (ngSubmit)="submitData()">
  <div class="form-group">
    <label class="form-label" for="firstName">First Name</label>
    <input type="text" class="form-control form-control form-control-sm" formControlName="firstName" />
    <div *ngIf="details.firstName.errors?.required">
      <div
        class="alert alert-danger"
        *ngIf="details.firstName.touched && details.firstName.invalid"
      >
        First Name is mandatory
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="lastName">Last Name</label>
    <input type="text" class="form-control" formControlName="lastName" />
    <div *ngIf="details.lastName.errors?.required">
      <div
        class="alert alert-danger"
        *ngIf="details.lastName.touched && details.lastName.invalid"
      >
        Last Name is mandatory
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="date">Date</label>
    <input
      class="form-control"
      id="date"
      name="date"
      placeholder="MM/DD/YYY"
      formControlName="dateOfBirth"
      type="text"
    />
    <small id="phoneHelp" class="form-text text-muted">Eg: 09/21/2023</small>

    <div *ngIf="details.dateOfBirth.errors?.required">
      <div
        class="alert alert-danger"
        *ngIf="details.dateOfBirth.touched && details.dateOfBirth.invalid"
      >
        DOB is mandatory
      </div>
    </div>
    <div *ngIf="details.dateOfBirth.errors?.pattern">
      <div class="alert alert-danger">Enter correct formmat</div>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
    Submit
  </button>
</form>
</div></div></div></div></div>
